@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Carlito&display=swap');
body {
  margin: 0px;
}
span{
  user-select: none;
  user-zoom:fixed;
}

div {
  user-select: none;
}